{% extends "layout.html" %}

{% block main %}
<div class="p-5">
    <h2>Teams</h2>
    <p>You can add-update-delete your teams</p>

    <nav class="navbar bg-light">
        <a href="/teams/add_team" class="btn btn-primary">Add new team</a>
        
    </nav>

    <table class="table">
        <thead>
          <tr>
            <th scope="col">Team name</th>
            <th scope="col">Delete</th>
            <th scope="col">Update</th>
          </tr>
        </thead>
        <tbody>


            {% for team in teams %}
            <tr>
                <td>{{ team.teamName }}</td>

                <td><a href="/delete_team/{{ team.teamId }}" class="btn btn-outline-danger btn-sm"> Delete </a></td>

                <td><a href="/edit_team/{{ team.teamId }}" class="btn btn-outline-success btn-sm"> Update </a></td>  

            </tr>
            {% endfor %}

            
        </tbody>
      </table>
</div>
{% endblock main %}