{% extends "layout.html" %}

{% block main %}
<div class="p-5">
    <h2>Attempts</h2>
    <p>You can add-update-delete teams attempts</p>

    <nav class="navbar bg-light">
        <a href="/attempts/add_attempts" class="btn btn-primary">Add new attempts</a>
    </nav>

    <table class="table">
        <thead>
          <tr>
            <th scope="col">Team name</th>
            <th scope="col">Matches</th>
            <th scope="col">Attempts</th>
            <th scope="col">Attempts on target</th>
            <th scope="col">Attempts off target</th>
            <th scope="col">Attempts Blocked</th>
            <th scope="col">Delete</th>
            <th scope="col">Update</th>
          </tr>
        </thead>
        <tbody>

          
            {% for team in teams %}
            <tr>
                <td>{{ team.team }}</td>
                <td>{{ team.matches }}</td>
                <td>{{ team.attempts }}</td>
                <td>{{ team.attemptsOnTarget}}</td>
                <td>{{ team.attemptsOffTarget }}</td>
                <td>{{ team.attemptsBlocked }}</td>
                
                <td><a href="/delete_attempts/{{ team.id }}" class="btn btn-outline-danger btn-sm"> Delete </a></td>

               
                <td><a href="/edit_attempts/{{ team.id }}" class="btn btn-outline-success btn-sm"> Update </a></td>  

            </tr>
            {% endfor %}

            
        </tbody>
      </table>
</div>
{% endblock main %}