{% extends "layout.html"  %}

{% block main %}

{% from "formhelpers.html" import render_field %}

<div class="p-5 h-100 w-100 d-flex align-items-center justify-content-center flex-column">

    <h2>Add New Defence</h2>
    
    <form method="post" class="w-50">

        {{ render_field(form.team_name, class="form-control w-100") }}
        {{ render_field(form.saves_made, class="form-control w-100") }}
        {{ render_field(form.blocks, class="form-control w-100") }}
        {{ render_field(form.total_clearances, class="form-control w-100") }}
        {{ render_field(form.interceptions, class="form-control w-100") }}
        {{ render_field(form.recoveries, class="form-control w-100") }}
        {{ render_field(form.goals_conceded, class="form-control w-100") }}

        <button type="submit" class="btn btn-primary">Submit</button>


    </form>

    
</div>

{% endblock main %}